<html>
<head>
    <title>Make a Test</title>
</head>
<body>

    <form name='form' action="{{url_for('keytake')}}" method="post">
	{% for a in range(1, i+1) %}
		{{a}}:<br>
        <textarea id='ta2' form='form'></textarea><br>
        {%set y=a~'' %}
        {%set t=''~'a'%}
        {%set e=''~'b'%}
        {%set w=''~'c'%}
        {%set q=''~'d'%}
        {%set z=''~'e'%}
        <input type = 
        <input type = "radio"
               name = {{y}}
               id = {{t}}
               value = {{t}} />
        <label for = {{t}}>A</label>
        <input type = "radio"
               name = {{y}}
               id = {{e}}
               value = {{e}} />
        <label for = {{e}}>B</label>
        <input type = "radio"
               name = {{y}}
               id = {{w}}
               value = {{w}} />
        <label for = {{w}}>C</label>
        <input type = "radio"
               name = {{y}}
               id = {{q}}
               value = {{q}} />
        <label for = {{q}}>D</label>
        <input type = "radio"
               name = {{y}}
               id = {{z}}
               value = {{z}} />
        <label for = {{z}}>E</label>
        <br>
	{% endfor %}
    {%set p=0%}
    {% for a in range(1, n+1) %}
        {%set p=p+1%}
        {{p}}:
    <input type="submit" value="Submit form">
    </form>
    <script type=text/javascript src="{{
        url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{
        url_for('static', filename='jqueryautosize.js')}}"></script>
    <script>
        if ($ && $.fn.autosize) {
            $('#ta1').autosize();
            $('#ta2').autosize({append: "\n"});
        }
    </script>
</body>
</html>